<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @engine_category.uid %>
</p>

<%= link_to 'Edit', edit_engine_category_path(@engine_category) %> |
<%= link_to 'Back', engine_categories_path %>
