<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @technical_visit.uid %>
</p>

<%= link_to 'Edit', edit_technical_visit_path(@technical_visit) %> |
<%= link_to 'Back', technical_visits_path %>
